@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu>ul {
        display: flex;
        background-color: #ce1626;
    }


    menu>ul>li>a {
        width: 18vw;
        margin: 0px;
        border-radius: 0px;
        font-weight: bolder;
    }

    menu > ul > li > a:hover{
        color: #ce1626;
        background-color: #EFDF2E;
    }

    .logo{
         height: 250px;
    }

    #logo{
        width: 350px;
    }

    main{
        width: 1000px;
    }

}



@media screen and (orientation: landscape){
#burguer{
    display:block;
}
}